<h1><%= t("orders.new.title") %></h1>

<%= form_for @order do |order_form| %>
  <h2><%= t("orders.form.enter_your_shipping_information") %></h2>
  <div>
    <%= order_form.label :name %><br />
    <%= order_form.text_field :name %>
    <% @order.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= order_form.label :email %><br />
    <%= order_form.text_field :email %>
    <% @order.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= order_form.label :phone %><br />
    <%= order_form.text_field :phone %>
    <% @order.errors.full_messages_for(:phone).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= order_form.label :shipping_address %><br />
    <%= order_form.text_area :shipping_address %>
    <% @order.errors.full_messages_for(:shipping_address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <%= order_form.fields_for :payments do |payment_fields| %>
    <h2><%= t("payments.form.enter_your_payment_information") %></h2>

    <div>
      <%= payment_fields.label :card_name %><br />
      <%= payment_fields.text_field :card_name %>
    </div>

    <div>
      <%= payment_fields.label :card_number %><br />
      <%= payment_fields.text_field :card_number %>
    </div>

    <div>
      <%= payment_fields.label :card_expiry_month %><br />
      <%= payment_fields.text_field :card_expiry_month %>
    </div>

    <div>
      <%= payment_fields.label :card_expiry_year %><br />
      <%= payment_fields.text_field :card_expiry_year %>
    </div>

    <div>
      <%= payment_fields.label :card_cvv, "Card CVV" %><br />
      <%= payment_fields.text_field :card_cvv %>
    </div>
  <% end %>

  <div>
    <%= order_form.submit "Order now" %>
  </div>
<% end %>
